@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --color-side-bg: #008a00;
  --color-side-dropdown: #007500;

}